<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Integrated System Design</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="website" content="smart things">
  <link rel="stylesheet" type="text/css" href="../style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="../img/favicon.png"/>

</head>

<header>

  <a href="../index.html" style="text-decoration: none" class="class1">
    <h1>ECE 4950 - Integrated System Design </h1>
  </a>

</header>

<body>

  <h2> Design of an Actuation & Sensing System </h2>

  <p><a href="../files/Project2.pdf">Find on pages 9-10 of Report 2</a></p>
  
</body>

<footer>
  <p>5 GUYS©</p>
</footer>


</html>
