<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Integrated System Design</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="website" content="smart things">
  <link rel="stylesheet" type="text/css" href="../style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="../img/favicon.png"/>

</head>

<header>
  <h1>ECE 4950 - Integrated System Design </h1>
</header>

<body>
  
  <h2> Project 1: Evaluation of Real-time Workstation </h2>
  
  <p><a href="../files/Proj1.pdf">Report for Project 1</a></p>
  
  <p><a href="https://github.com/joelsod/4950-Site/raw/master/files/gear.dxf">CAD file for acrylic piece</a></p>

</body>

<footer>
  <p>5 GUYS©</p>
</footer>


</html>
